body{
    background-color: black;
    font-family: "Roboto", sans-serif;
    font-size: small;
}
.main-content{    
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    background-color: white;
}

.headertitle{
    display:flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}

.headertitle .htlogohtml5{
    font-size: 25px;
    justify-content: center;
}

.headertitle .httexto{
    justify-content: center;
    padding: 0;
}

.headertitle .httexto p{
    margin: 0;
    padding: 0;
    align-items: center;
}

.iconcontent{
    display:flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    font-size: 20px;
}

.photofooticon{
    padding: 3px;
}

.parteizquierda{
    display:flex;
    justify-content: space-between;
    padding: 5px;    
    align-items: center;
}

.headertitle .htellipsis{
    font-size: 20px;
}

.photocontent{
    height: 400px;
}


.footcontent{
    height: 120px;
    padding: 10px;
}

