body{
    background-color: black;
    font-family: "Roboto", sans-serif;
    font-size: small;
}
.main-content{    
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    background-color: white;
}

.headertitle{
    display:flex;
    justify-content: space-between;
    height: 40px;
    vertical-align: middle;    
}

.headertitle .htlogohtml5{
    font-size: 20px;
    justify-content: center;
    vertical-align: middle;
}

.headertitle .httexto{
    justify-content: center;
    padding: 0;
}

.headertitle .httexto p{
    margin: 0;
    padding: 0;
}

.parteizquierda{
    display:flex;
    justify-content: space-between;
    padding: 0;    
}

.headertitle .htellipsis{
    font-size: 20px;
}

.photocontent{
    height: 400px;
}

.iconcontent{
    display:flex;
    justify-content: space-between;    
    height: 20px;
}

.footcontent{
    height: 200px;
}

